<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>URL</th>
        <th>Last Deployed</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let deployment of deployments; let i = index">
        <td>
          <div class="deployment-name">{{ deployment.name }}</div>
        </td>
        <td>
          <span class="status-badge" [ngClass]="deployment.status">
            {{ getStatusText(deployment.status) }}
          </span>
        </td>
        <td class="deployment-url">
          <a [href]="deployment.url" target="_blank">{{ deployment.url }}</a>
        </td>
        <td class="deployment-time">
          {{ deployment.lastDeployed }}
        </td>
        <td class="actions">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
          </button>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
